In [2]:
import pandas as pd
import numpy as np

In [59]:
#read the csv files into python
cust_data = pd.read_csv('customer_challenge.csv')
address_data = pd.read_csv('address_challenge.csv')
country_data = pd.read_csv('country_challenge.csv')
cr_data = pd.read_csv('cr_challenge.csv')
trip_data = pd.read_csv('trip_challenge.csv')

In [69]:
# join the required columns
cust_data = cust_data[["CUSTOMER_ID", "CUSTOMER_TYPE", "CUSTOMER_LANGUAGE"]]
address_data = address_data[["ADDRESS_ID", "ZIP_CODE"]]

cr_and_cust = pd.merge(cr_data, cust_data, left_on="CUSTOMER_ID", right_on="CUSTOMER_ID", how="left")
trip_cr_cust = pd.merge(trip_data, cr_and_cust, left_on="CR_ID", right_on="CR_ID", how="left")

trip_cr_cust_address = pd.merge(trip_cr_cust, address_data, left_on="DEPARTURE_ADDRESS_ID", right_on="ADDRESS_ID", how="left")
trip_cr_cust_address = trip_cr_cust_address.rename(columns={'ZIP_CODE': 'DEPARTURE_ZIP_CODE'})

trip_cr_cust_address.drop('ADDRESS_ID', axis=1, inplace=True)
                                                            
trip_cr_cust_address = pd.merge(trip_cr_cust_address, address_data, left_on="ARRIVAL_ADDRESS_ID", right_on="ADDRESS_ID", how="left")
trip_cr_cust_address = trip_cr_cust_address.rename(columns={'ZIP_CODE': 'ARRIVAL_ZIP_CODE'})                                                       

trip_cr_cust_address.drop('ADDRESS_ID', axis=1, inplace=True)
trip_cr_cust_address.drop('DEPARTURE_ADDRESS_ID', axis=1, inplace=True)
trip_cr_cust_address.drop('ARRIVAL_ADDRESS_ID', axis=1, inplace=True)

In [70]:
# substring the required part
trip_cr_cust_address["DEPARTURE_UTC"] = trip_cr_cust_address["DEPARTURE_UTC"].astype("str").str[0:10]
trip_cr_cust_address["ARRIVAL_UTC"] = trip_cr_cust_address["ARRIVAL_UTC"].astype("str").str[0:10]
trip_cr_cust_address['DEPT_CROSSING'] = np.where(trip_cr_cust_address['DEPARTURE_ZIP_CODE'].str[0:2] == trip_cr_cust_address['ARRIVAL_ZIP_CODE'].str[0:2], "No", "Yes")

In [71]:
trip_cr_cust_address_1 = trip_cr_cust_address[(trip_cr_cust_address["DEPARTURE_UTC"]=="2021-07-31")]
trip_cr_cust_address_2 = trip_cr_cust_address[(trip_cr_cust_address["DEPARTURE_UTC"]=="2021-08-21")]
trip_cr_cust_address_3 = trip_cr_cust_address[(trip_cr_cust_address["ARRIVAL_UTC"]=="2021-07-31")]
trip_cr_cust_address_4 = trip_cr_cust_address[(trip_cr_cust_address["ARRIVAL_UTC"]=="2021-08-21")]

trip_cr_cust_address = trip_cr_cust_address_1.append(trip_cr_cust_address_2)
trip_cr_cust_address = trip_cr_cust_address.append(trip_cr_cust_address_3)
trip_cr_cust_address = trip_cr_cust_address.append(trip_cr_cust_address_4)

trip_cr_cust_address_1 = trip_cr_cust_address[(trip_cr_cust_address["STATUS_VALUE"]=="RESERVED")]
trip_cr_cust_address_2 = trip_cr_cust_address[(trip_cr_cust_address["STATUS_VALUE"]=="IN_PROGRESS")]
trip_cr_cust_address_3 = trip_cr_cust_address[(trip_cr_cust_address["STATUS_VALUE"]=="BOOKED")]

trip_cr_cust_address = trip_cr_cust_address_1.append(trip_cr_cust_address_2)
trip_cr_cust_address = trip_cr_cust_address.append(trip_cr_cust_address_3)

In [76]:
trip_cr_cust_address[(trip_cr_cust_address["DEPT_CROSSING"]=="Yes")]

,TRIP_ID,CR_ID,DEPARTURE_UTC,ARRIVAL_UTC,STATUS_VALUE,CUSTOMER_ID,CUSTOMER_TYPE,CUSTOMER_LANGUAGE,DEPARTURE_ZIP_CODE,ARRIVAL_ZIP_CODE,DEPT_CROSSING
14965,8663887,188497,2021-07-31,2021-07-31,RESERVED,458469.0,COMPANY,FR,95100,NaN,Yes
14966,8663888,188497,2021-07-31,2021-07-31,RESERVED,458469.0,COMPANY,FR,NaN,95100,Yes
20582,8669633,191351,2021-07-31,2021-07-31,RESERVED,464079.0,INDIVIDUAL,NL,1051 LM,2025 LC,Yes
20583,8669634,191351,2021-07-31,2021-07-31,RESERVED,464079.0,INDIVIDUAL,NL,2025 LC,1051 LM,Yes
7971,8656702,185058,2021-08-21,2021-08-21,RESERVED,451661.0,TRAVEL_AGENCY_EVENT_ORGANIZER,IT,80637,NaN,Yes
...,...,...,...,...,...,...,...,...,...,...,...
4392,8652369,183234,2021-08-21,2021-08-21,BOOKED,448075.0,NaN,DE,9602,9320,Yes
15490,8664422,188780,2021-08-21,2021-08-21,BOOKED,459027.0,TRAVEL_AGENCY_EVENT_ORGANIZER,FR,75571,93700,Yes
17376,8666332,189748,2021-08-21,2021-08-21,BOOKED,460939.0,COMPANY,DE,04109,14806,Yes
20208,8669247,191144,2021-08-21,2021-08-21,BOOKED,463672.0,OTHER,FR,1060,NaN,Yes
20209,8669248,191144,2021-08-21,2021-08-21,BOOKED,463672.0,OTHER,FR,NaN,1060,Yes

In [73]:
trip_cr_cust_address[(trip_cr_cust_address["CUSTOMER_TYPE"]=="SCHOOL")]

Empty DataFrame
Columns: [TRIP_ID, CR_ID, DEPARTURE_UTC, ARRIVAL_UTC, STATUS_VALUE, CUSTOMER_ID, CUSTOMER_TYPE, CUSTOMER_LANGUAGE, DEPARTURE_ZIP_CODE, ARRIVAL_ZIP_CODE, DEPT_CROSSING]
Index: []

In [74]:
trip_cr_cust_address[(trip_cr_cust_address["CUSTOMER_TYPE"]=="KINDERGARDEN_NURSERY")]

Empty DataFrame
Columns: [TRIP_ID, CR_ID, DEPARTURE_UTC, ARRIVAL_UTC, STATUS_VALUE, CUSTOMER_ID, CUSTOMER_TYPE, CUSTOMER_LANGUAGE, DEPARTURE_ZIP_CODE, ARRIVAL_ZIP_CODE, DEPT_CROSSING]
Index: []